@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100vh;

  font-family: "Rajdhani", sans-serif;
  color: whitesmoke;
}

html {
  background-image: url(https://images.unsplash.com/photo-1574623452334-1e0ac2b3ccb4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  font-family: "Rajdhani", sans-serif;
}

/** the above code is general styling reset, below is the code for the styling of the scoreboard.*/

h1 {
  color: white;
  background-color: #111827;
  padding: 30px;
  width: 800px;

  text-align: center;
  font-size: 40px;
}

.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.card {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 40px; /** the previous value was 100px without the reset button*/

  width: 570px;
  height: 355px;

  background: #111827;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 22px;
}

.home-column,
.guest-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.score-header {
  width: 149px;
  height: 36px;

  text-align: center;
  font-weight: 900;
  font-size: 50px;

  line-height: 36px;
}

.score-background {
  background-color: #374151;
  border-radius: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 155px;
  height: 120px;
}

.home-score,
.guest-score {
  font-size: 78px;
  color: rgb(167, 243, 208);
}

.buttons {
  display: flex;
  gap: 9px;

  text-align: center;
  height: 45px;
  width: 155px;
}

.add-1:hover,
.add-2:hover,
.add-3:hover {
  cursor: pointer;
  border: solid rgb(167, 243, 208);
  color: white;
  margin-top: 1px;
}

.add-1,
.add-2,
.add-3 {
  font-size: 20px;
  font-weight: 500;
  margin-top: 15px;

  border: solid white 1px;
  background-color: transparent;
  color: whitesmoke;

  padding: 5px;
  width: 45px;
  height: 45px;

  border-radius: 5px;
}

/** the code below is the reset button for the scoreboard */
.reset-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reset-btn {
  background-color: transparent;
  color: white;
  padding: 14px;
  border: 1px solid whitesmoke;
  border-radius: 3px;
  font-size: 20px;
}

.reset-btn:hover {
  cursor: pointer;
  border: solid rgb(167, 243, 208) 1px;
  color: white;
  background-color: #374151;
}
